VITE_GOOGLE_DRIVE_API_KEY=
VITE_GOOGLE_DRIVE_FOLDER_ID=

# IDs das Pastas
VITE_FOLDER_HOME=
VITE_FOLDER_GESTANTES=
VITE_FOLDER_ANIVERSARIO=
VITE_FOLDER_ANIVERSARIO1=
VITE_FOLDER_CASAL=
VITE_FOLDER_PESSOAL=
VITE_FOLDER_PESSOAL1=
VITE_FOLDER_MASCULINO=
VITE_FOLDER_PATROA=